@import './../../style_Variaveis/Variaveis.scss';
.portifa{
  @extend container;
  display: flex;
  flex-direction: columns;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5vh 10vh;
  font-size: 1rem;
  .Box{
    margin-top: 5%;
    justify-content: center;
    max-width: 100vw;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    display: flex;
   
    @include mobile{
      margin-top: 0%;
      display: flex;
      padding: 0px;
      flex-direction: columns;
      flex-wrap: wrap;
      h2{
        font-size: 1.2rem;
      }
     }
    .Project{
    display: flex;
    width: 25vw;
    flex-wrap: wrap;
    margin-top: 2%;
    justify-content: center;
    flex-direction: column;
    border: 1px solid $primary-color;
    padding: 2% 3%;
    @include mobile{
      margin: 0%;
      flex-wrap: nowrap;;
      padding: 10px;
     font-size: 1.4rem;
      width: 100%;
      margin: 10vh;
      p,h2,h1{
        font-size: 1.2rem;
      }
    }
    .titulo{
      color: $primary-color;
      font-size: 2rem;
      text-align: center;
      margin-bottom: 2%;
      height: 15vh;
    }
     .descricao{
      font-size: 1rem;
      max-height: 10vh;
      overflow-y: scroll;
      height: 10vh;
      margin-bottom: 2%;
      &::-webkit-scrollbar {
        width: 12px;
        display: default;          /* width of the entire scrollbar */
      }
      &::-webkit-scrollbar-track{
        background: linear-gradient(90deg, rgba(0,65,255,1) 26%, rgba(0,237,255,1) 63%);
      }
      @include mobile{
        width: 70%;
        font-size:0.8rem;
        height: 80vh;
      }
      .Linguagem{
        height: 5vh;
        p{
          font-size: 4%;
        }
      svg{
        font-size: 1rem;
      }
    }
     }
     .TituloLinguagem{
      font-size: 1.2rem;
      height: 5vh;
      @include mobile{
        margin-bottom: 2vh;
      }
    }
    .Links{
      display: flex;
      width: 10vh;
      height: 10vh;
      flex-direction: column;
      @include mobile{
        display: flex;
        justify-content: center;
        align-items: center;;
      }
      a{
        color: white;
      }
      div{
        text-align: center;
       font-size: 1rem;
       @include mobile{
       display: flex;
       width: 40vw;
       }
      }
    }
     .Page_descricao{
      border: 1px solid white;
      max-width: 70%;
      margin: 5vh;
      margin: 10px;
      font-size: 1.2rem;
      border-radius: 25px;
      text-decoration: none;
      color: #7bbf46;
      height: 5vh;
      text-align: center;
      transition: 0.5s;
      &:hover{
        transition: 0.5s;
        background-color: #7bbf46;
        color: white;
      }
     }
   }}

};
